<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Video
      </div>
      <div class="panel-body">
        <img style="width:800px;height:600px" />
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sodar
      </div>
      <div class="panel-body">
        {{dataService.sodarData | json}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Info
      </div>
      <div class="panel-body">
        <b>Gyro: </b> 0&deg; 0&deg; 0&deg; <br>
        <b>Compass: </b> 120&deg; <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well log">
      <ul>
        <li class="info">Message</li>
        <li class="info">Message</li>
        <li class="info">Message</li>
        <li class="info">Message</li>
        <li class="warning">Message</li>
        <li class="info">Message</li>
        <li class="error">Message</li>
      </ul>
    </div>
  </div>
</div>